  
<h3>Search For Cocktails Here!</h3>

<div class="well">
    <form action="/search" method="GET" >
        <label for="filter">Search Cocktails:</label>
        <input type="text" placeholder="Cocktail" aria-label="Search" name="search">
        <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
</div>

<% function clone() { %>
    <% let searchIngredient = document.getElementById("searchIngredient") %>
    <% let clonedInput = searchIngredient.cloneNode(true) %>
    <% clonedInput.id = ""; %>

    <% let searchContainer = document.getElementById("searchContainer") %>
    <% searchContainer.appendChild(clonedInput) %>
<% } %>

<div id="searchContainer" class="well">
    <form action="/search" method="GET" >
        <label for="filter">Search by Ingredients:</label>
        <input type="text" id="searchIngredient" placeholder="Ingredient" aria-label="Search" name="multiSearch">
        <button class="btn btn-unique btn-rounded btn-sm my-0" id="addIngredient" onclick="clone()" >Add Another Ingredient</button>
        <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
</div>

<% if (cocktail) { %>
    <% cocktail.forEach(function(cocktail) { %>
        <div class="well">
            <img src="<%= cocktail.strDrinkThumb %>">
            <p><a href="/search/drinks/<%= cocktail.idDrink %>"> <%= cocktail.strDrink %> </a></p>
            <form method="POST" action="/favorites">
                <input hidden type="text" name="cocktailId" value="<%= cocktail.idDrink %>">
                <input hidden type="text" name="cocktailName" value="<%= cocktail.strDrink %>">
                <button class="btn btn-primary" type="submit">Add to Favorites List</button>
            </form>
        </div>
    <% }) %>
<% } %>   