  
<h3>Search For Cocktails Here!</h3>

<div class="well">
    <form action="/search" method="GET" >
        <div id="searchField">
            <label for="filter">Search Cocktails:</label>
            <input type="text" placeholder="Cocktail" aria-label="Search" name="search">
        </div>
        <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
</div>



<div id="searchContainer" class="well">
    <form action="/search" method="GET" >
        <div id="searchFields">
            <label for="filter">Search by Ingredients:</label>
            <input type="text" id="searchIngredient" placeholder="Ingredient" aria-label="Search" name="multiSearch">
        </div>
        <button class="btn btn-unique btn-rounded btn-sm my-0" id="submitBtn" type="submit">Search</button>
        <button class="btn btn-unique btn-rounded btn-sm my-0" id="addIngredient" onclick="clone(); return false;" >Add Another Ingredient</button>
    </form>
</div>

<% if (cocktail) { %>
    <% cocktail.forEach(function(cocktail) { %>
        <div class="well">
            <img class="searchImg" src="<%= cocktail.strDrinkThumb %>">
            <p><a href="/search/drinks/<%= cocktail.idDrink %>"> <%= cocktail.strDrink %> </a></p>
            <form method="POST" action="/favorites">
                <input hidden type="text" name="cocktailId" value="<%= cocktail.idDrink %>">
                <input hidden type="text" name="cocktailName" value="<%= cocktail.strDrink %>">
                <button class="btn btn-primary" type="submit">Add to Favorites List</button>
            </form>
        </div>
    <% }) %>
<% } %>   

<script> function clone() { 
     let searchIngredient = document.getElementById("searchIngredient") 
     let clonedInput = searchIngredient.cloneNode(true) 
     clonedInput.id = ""; 
     
     let searchFields = document.getElementById("searchFields") 
     let submitBtn = document.getElementById("submitBtn")
 
     searchFields.appendChild(clonedInput)
 } </script>