<div class="well">
    <p><%= cocktail.strDrink %></p>
    <img src="<%= cocktail.strDrinkThumb %>">
    <p>You Will Need:</p>
    <ul>
        <li><%= cocktail.strIngredient1 %> - <%= cocktail.strMeasure1 %></li>
        <li><%= cocktail.strIngredient2 %> - <%= cocktail.strMeasure2 %></li>
        <li><%= cocktail.strIngredient3 %> - <%= cocktail.strMeasure3 %></li>
        <li><%= cocktail.strIngredient4 %> - <%= cocktail.strMeasure4 %></li>
        <li><%= cocktail.strIngredient5 %> - <%= cocktail.strMeasure5 %></li>
        <li><%= cocktail.strIngredient6 %> - <%= cocktail.strMeasure6 %></li>
        <li><%= cocktail.strIngredient7 %> - <%= cocktail.strMeasure7 %></li>
        <li><%= cocktail.strIngredient8 %> - <%= cocktail.strMeasure8 %></li>
        <li><%= cocktail.strIngredient9 %> - <%= cocktail.strMeasure9 %></li>
        <li><%= cocktail.strIngredient10 %> - <%= cocktail.strMeasure10 %></li>
        <li><%= cocktail.strIngredient11 %> - <%= cocktail.strMeasure11 %></li>
        <li><%= cocktail.strIngredient12 %> - <%= cocktail.strMeasure12 %></li>
    </ul>
    <p>Instructions:</p>
    <p><%= cocktail.strInstructions %></p>
</div>