

<% details.forEach(function(details) { %>
    <div class="form-group">
        <h3 class="newColor"><%= details.strDrink %></h3>
        <img class="searchImg" src="<%= details.strDrinkThumb %>">
        <div class="form-group recipe">
            <h4>You Will Need:</h4>
            <ul class="showUl">
                <% if (details.strIngredient1 || details.strMeasure1) { %> 
                    <li><%= details.strIngredient1 %> - <%= details.strMeasure1 %></li>
                <% } %>

                <% if (details.strIngredient2 || details.strMeasure2) { %> 
                    <li><%= details.strIngredient2 %> - <%= details.strMeasure2 %></li>
                <% } %>
                
                <% if (details.strIngredient3 || details.strMeasure3) { %> 
                    <li><%= details.strIngredient3 %> - <%= details.strMeasure3 %></li>
                <% } %>
                
                <% if (details.strIngredient4 || details.strMeasure4) { %> 
                    <li><%= details.strIngredient4 %> - <%= details.strMeasure4 %></li>
                <% } %>
                
                <% if (details.strIngredient5 || details.strMeasure5) { %> 
                    <li><%= details.strIngredient5 %> - <%= details.strMeasure5 %></li>
                <% } %>
                
                <% if (details.strIngredient6 || details.strMeasure6) { %> 
                    <li><%= details.strIngredient6 %> - <%= details.strMeasure6 %></li>
                <% } %>
                
                <% if (details.strIngredient7 || details.strMeasure7) { %> 
                    <li><%= details.strIngredient7 %> - <%= details.strMeasure7 %></li>
                <% } %>
                
                <% if (details.strIngredient8 || details.strMeasure8) { %> 
                    <li><%= details.strIngredient8 %> - <%= details.strMeasure8 %></li>
                <% } %>
                
                <% if (details.strIngredient9 || details.strMeasure9) { %> 
                    <li><%= details.strIngredient9 %> - <%= details.strMeasure9 %></li>
                <% } %>
                
                <% if (details.strIngredient10 || details.strMeasure10) { %> 
                    <li><%= details.strIngredient10 %> - <%= details.strMeasure10 %></li>
                <% } %>
                
                <% if (details.strIngredient11 || details.strMeasure11) { %> 
                    <li><%= details.strIngredient11 %> - <%= details.strMeasure11 %></li>
                <% } %>
                
                <% if (details.strIngredient12 || details.strMeasure12) { %> 
                    <li><%= details.strIngredient12 %> - <%= details.strMeasure12 %></li>
                <% } %>

                <% if (details.strIngredient13 || details.strMeasure13) { %> 
                    <li><%= details.strIngredient13 %> - <%= details.strMeasure13 %></li>
                <% } %>

                <% if (details.strIngredient14 || details.strMeasure14) { %> 
                    <li><%= details.strIngredient14 %> - <%= details.strMeasure14 %></li>
                <% } %>

                <% if (details.strIngredient15 || details.strMeasure15) { %> 
                    <li><%= details.strIngredient15 %> - <%= details.strMeasure15 %></li>
                <% } %>
            </ul>
            <h4>Instructions:</p>
            <p class="instructions"><%= details.strInstructions %></p>
        </div>
    </div>
<% }) %>