<!-- I was working on a new feature, but I don't have time to figure out how to incorporate it.  I left the code so I can continue to work on it at a later point -->

<!-- <p>Search by Pantry Ingredients</p>

<form action="/search/pantry" method="GET" >
    <label for="filter">Search Cocktails By Pantry Ingredients:</label>
    <label for="pantryName">Choose a Pantry:</label>
        <select name="pantryName" id="pantryName">
            <% pantry.forEach(function(pantry) { %>
                <option value="<%= pantry.id %>"> <%= pantry.name.toUpperCase() %> </option>
                    
                <% pantry.ingredients.forEach(function(ingredient) { %>
                        <input hidden type="text" value="<%= ingredient.name %>" name="ingredientName">
                    <% }) %>
            <% }) %>
        </select>
    <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
</form>

<% if (typeof pantryCocktail == Array) { %>
    <% console.log("🎯🎯🎯🎯🎯🎯🎯", pantryCocktail) %>
    <% pantryCocktail.forEach(function(pantryCocktail) { %>
        <div class="well">
            <img src="<%= pantryCocktail.strDrinkThumb %>">
            <p><a href="/search/drinks/<%= pantryCocktail.idDrink %>"> <%= pantryCocktail.strDrink %> </a></p>
            <form method="POST" action="/favorites">
                <input hidden type="text" name="cocktailId" value="<%= cocktail.idDrink %>">
                <input hidden type="text" name="cocktailName" value="<%= cocktail.strDrink %>">
                <button class="btn btn-primary" type="submit">Add to Favorites List</button>
            </form>
        </div>
    <% }) %>
<% } %>    -->